.searchbar_container {
  text-align: center;
  margin: 20px auto;
  align-items: center;
  width: 100%;
}

.searchbar {
  background: white;
  display: flex;
  justify-content: center;
}

.searchbar input {
  padding: 0 15%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
}

.searchbar input:focus {
  outline: none;
}

.searchbar_btn button {
  background-color: #363636;
  border: none;
  border-radius: 10px;
  height: 100%;
  padding: 10px 12px;
  color: white;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5rem 0px;
}

.box_one{
  align-self: center;
  border-radius: 50%;

  img{
    background-color: black;
    max-width: 80%;
    height: 100%;
    border-radius: 50%;
    margin-right: 5rem;

  }

}

.box_two{
  text-transform: capitalize;
}

.img_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 250px;
  align-items: center;
  margin: auto;
  margin-bottom: 10rem;
  justify-content: center;
  
}

.img_one{
  width: 180px;
  height: 280px;
}

.img_two{
  width: 320px;
  height: 280px;
}

h4{
  margin-bottom: 0;
  line-height: 0;
}

@media (min-width: 700px) {


  .img_one{
    width: 100%;
    height: 280px;
  }

  .img_two{
    width: 100%;
    height: 280px;
  }
.container{
  padding: 0;
}

}