.container{
    width: 100%;
    font-size: 1rem;
    text-align: center;
}

.box_one{
    display: grid;
    height: 100vh;
    text-align: center;

}

.box_two{
    width: 100%;
}

.fondo{width: 100%;}

.pikachu{
    align-self: end;
    width: 250px;
    height: 350px;
    justify-self: end;
    margin-bottom: 2rem;
}

h1{
    align-self: center;
    font-size: 3rem;
    font-weight: 700;
}


.box_three{
    display: grid;
    height: 100vh;
    text-align: center;

}
.pika{
    align-self: end;
    width: 250px;
    height: 350px;
    justify-self: end;
    margin-bottom: 2rem;
}

@media (max-width: 700px) {
.pika{
    justify-self: center;
    align-self: end;
}
  }