.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.pokedex_grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 18px;
  padding: 0 10px;
}

.loading{
height: 100vh;
width: 100%;
text-align: center;
margin-top: 3rem;
}

.logo {
  width: 250px;
  height: 95px;
  margin-bottom: 3rem;
}

@media (max-width: 900px) {
  .pokedex_grid {
    grid-template-columns: auto  auto;
    padding: 0;
  }
}

@media (max-width: 576px) {
  .pokedex_grid {
    grid-template-columns: auto;
  }
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
