footer {
  bottom: 0;
  width: 100%;

}

a{
  cursor: pointer;;
}

.footer_distributed {
  background-color: #2d2a30;
  background-color: red;
  box-sizing: border-box;
  widows: 100%;
  text-align: left;
  font: bold 16px;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer_distributed
  .footer_left,
  .footer_distributed
  .footer_center,
  .footer_distributed
  .footer_right {
  display: inline-block;
  vertical-align: top;
}

.footer_distributed .footer_left {
  width: 30%;
}

.footer_distributed h3 {
  color: #fff;
  font: normal 36px "cookie, cursive";
  margin: 0;
}

.footer_distributed h3 span {
  color: black;
}

.footer_distributed .footer_links {
  color: #fff;
  margin: 20px 0 12px;
}

.footer_distributed .footer_links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer_distributed .footer_company_name {
  color: black;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer_distributed .footer_center {
  width: 35%;
}

.footer_distributed .footer_center .icon {
  background-color: red;
  color: #fff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 30%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer_distributed .footer_center .envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer_distributed .footer_center p {
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  margin: 0;
}

.footer_distributed .footer_center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer_distributed .footer_center p a {
  color: black;
  text-decoration: none;
}

.footer_distributed .footer_right {
  width: 30%;
}

.footer_distributed .footer_company_about {
  line-height: 20px;
  color: black;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer_distributed .footer_company_about span {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer_distributed .footer_icons {
  margin-top: 25px;
}

.footer_distributed .footer_icons a {
  display: inline-block;
  width: 35px;
  height: 29px;
  cursor: pointer;
  background-color: red;
  border-radius: 2px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-right: 3px;
  margin-bottom: 5px;
  line-height: 35px;
}

.footer_distributed .footer_icons a:hover {
  background-color: #3f71ea;
}

.footer_links a:hover {
color: #3f71ea;
}

@media(max-width:880px){
    .footer_distributed .footer_left, .footer_distributed .footer_center, .footer_distributed .footer_right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer_distributed .footer_center .icon{
        margin-left: 0;
    }
}

